{% extends 'menu/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="header header-filter" style="background-image: url({% static 'menu/images/cupcake_cover.jpg' %});">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="card card-signup">
          <form class="form" method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <div class="content">
              <h3 class="text-center">Log in</h3>
              {% if form.errors %}
                <p class="text-danger">Your username and password didn't match. Please try again.</p>
              {% endif %}
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">face</i>
                </span>
                <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"  class="form-control" placeholder="Username">
                {{ form.username.errors }}
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">lock_outline</i>
                </span>
                <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" placeholder="Password..." class="form-control" />
                {{ form.password.errors }}
              </div>
            </div>
          <input type="hidden" name="next" value="{{ next }}" />
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">Log in</button>
            </div>
          </div>
        </form>
    </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
